<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>booklibrary</display-name>
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>cn.web.controller.BookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>cn.web.controller.CategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UIServlet</servlet-name>
    <servlet-class>cn.web.UI.UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.web.controller.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>cn.web.controller.NewsServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/servlet/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/servlet/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UIServlet</servlet-name>
    <url-pattern>/servlet/UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/servlet/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/servlet/NewsServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>cn.web.filter.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>PowerFilter</filter-name>
        <filter-class>cn.web.filter.PowerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PowerFilter</filter-name>
        <url-pattern>/back/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>HTMLFilter</filter-name>
        <filter-class>cn.web.filter.HTMLFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HTMLFilter</filter-name>
        <url-pattern>/servlet/NewsServlet</url-pattern>
    </filter-mapping>
</web-app>