.brecommend {
	margin: 5px;
	padding: 10px;
	border: 1px solid #00868B;
	font-size: 12px;
	width: 480px;
	position: absolute;
	z-index: 20;
	display: none;
	background-color: #F5F5F5;
}

.brecommend .title{
	float: left;
	color: #00868B;
	width: 100%;
	margin-bottom: 10px;
}

.brecommend .title a{
	float: right;
	cursor: pointer;
}

.brecommend .title span{
	float: left;
}

.brecommend .book {
	float: left;
	width: 450px;
	padding-bottom: 5px;
	border-bottom: 1px solid #00868B;
}

.brecommend .book .cover {
	border: 1px solid #CCCCCC;
	padding: 3px;
	float: left;
	width: 86px;
	position: relative;
}

.brecommend .book .cover img {
	display: block;
	height: 113px;
	margin: 0 auto;
	padding: 3px;
	width: 80px;
}

.brecommend .book .detail {
	margin-left: 10px;
	padding-top: 5px;
	float: left;
	width: 300px;
}

.brecommend .item {
	font-family: "Microsoft YaHei", "ו", arial, simsun;
	float: left;
}

.brecommend .item dt {
	color: #00868B;
	margin: 2px;
	padding: 2px;
}

.brecommend .item .ritem span {
	line-height: 15px;
	margin: 2px;
	padding: 2px;
	color: black;
}

.brecommend .item .ritem input {
	line-height: 15px;
	margin-left: 2px;
	margin-right: 2px;
	color: black;
}

.brecommend .item .rgroup{
	margin:1px;
}

.brecommend .item .rgroup dd {
	float: left;
	border: 1px solid #C1CDC1;
	margin: 5px;
	padding: 5px;
	width: 72px;
}

.brecommend .item .rgroup .selected {
	background-color: #708090;
}

.brecommend .item .rgroup img {
	height: 70px;
	width: 70px;
	border: 1px solid #CCCCCC;
	float: left;
}

.brecommend .item .rgroup dd div {
	filter: alpha(opacity =   80);
	opacity: 0.8;
	float: left;
	height: 20px;
	width: 72px;
	color: black;
	background-color: #F8F8FF;
	margin-top: -20px;
	text-align: center;
}