.none { display:none; }
.popupTag { border:1px solid #d9e8ed;background:white; position:absolute; }
.popupTit { height:20px; /*width:430px;*/ padding:10px;font-size:14px; color:#007b9d; background:white url('popupbg.jpg') repeat-x }
.popupCont { padding:10px;position:relative; font-size:12px; min-height:180px; _height:180px; width:430px; }
.popupCls { background:url('popupClose.jpg') no-repeat -2px -3px; position:absolute; right:10px; top:10px; width:20px; height:20px; cursor:pointer; }

.errorBox { padding:2px 5px; color:red; border:1px solid #f9b552; background:#fefacd; }
.POPinfo img { float:left; margin-right:30px; }
.POPinfo .cont { margin-bottom:30px; }
.POPinfo .title { padding-top:30px; font-size:14px; color:orange; margin-bottom:10px; }
.POPbutton { width:80px; height:26px; background:#fcd1a4 url(butok.jpg) no-repeat; line-height:24px; border:0; }
.POPlogin { width:260px; margin:20px 0 0 80px; }
.POPlogin img { vertical-align:middle; margin-right:5px; }
.POPlogin input.text { width:220px; background:#f1f1f1; height:20px; }
.POPlogin th { width:30px; text-align:right; font-weight:normal; padding:10px 0; }
.POPlogin .password { position:relative; display:block; }
.POPlogin .password .errorBox { position:absolute; top:1px; *top:7px; right:-60px; }
.POPselCalss { padding:10px 20px; }
.POPselCalss a { float:left; margin:5px 10px 5px 0; font-size:14px; display:inline; padding:0 5px; }
.POPselCalss a span { color:gray; font-size:12px; }
.POPselCalss a.hot span { color:white; }
.POPselCalss a.hot { background:orange; color:white; }
.POPbothButton { clear:both; padding:10px; text-align:right; overflow:hidden; }
.POPbothButton a { color:gray; text-decoration:underline; float:right; font-size:12px; }
.POPbothButton input { float:right; vertical-align:middle; margin-left:5px; padding:0 10px; }
.POPalert { background:white; position:absolute; width:300px; height:200px; text-align:center; }
.POPsendMail { }
.POPsendMail th { vertical-align:top; }
.POPsendMail input.text { background:#f1f1f1; width:400px; }
.POPsendMail textarea.cont { width:400px; height:120px; background:#f1f1f1; }
.POPsendMail .POPbothButton input { margin:auto; margin-left:10px; }
.POPsetVIP dt { color:#02799b; padding:5px; font-size:14px; }
.POPsetVIP dd { background:#daeff2; padding:5px; }
.POPsetVIP dd input { vertical-align:middle; }
.POPsetFriend { padding:5px 10px; }
.POPsetFriend .textArea { background:#f1f1f1; height:40px; width:300px; vertical-align:middle; }
.POPsetFriend input { padding:0 5px; }

.labelbox th { text-align:right; font-weight:normal; }
.labelbox .labels { background:#fde0ce;padding:3px; overflow:hidden; }
.labelbox .labels span { float:left; margin-right:5px; padding:2px 5px; current:pointer; }
.labelbox .labels span.hot { background:#e2b190; color:white; }


